/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Standaard css */
body {
    margin: 0;
    background-color: grey;
}


h1 {
    font-size: 1.2em;
    color: white;
    margin: 0;
    font-family: sans-serif;
    margin-left: 1em;
}

header {
    display:flex;
    justify-content:space-between;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index:100;
}

p,ul {
    font-family: sans-serif;
}

header nav:nth-of-type(1) {
    z-index:200;
}

/* CSS voor navigatie in header */

header nav:nth-of-type(1) ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    width:30%;
}

header nav:nth-of-type(1) ul li:first-of-type {
    margin-right: auto;
}


header nav:nth-of-type(1) li:first-of-type img {
    width: 6em;
    margin-left:0em;
}

header nav:nth-of-type(1) li:nth-of-type(2) img {
    width: 2em;
    margin-right: 1em;

}

/*het uitschuifmenu*/
header nav:nth-of-type(2) button {
    position:relative;
    height:2.5em;
    z-index:200;
    border:none;
    background-color:transparent;
    margin: .7em .5em 0 0;
}    

header nav:nth-of-type(2) button img {
    height:100%;
    width:auto;
    margin-left:auto;
}

/* uitschuifmenu */

header nav:nth-of-type(2) ul {
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:white;
    border-top:solid 55px #1fb7ee;
    margin:0;
    padding:0;
    list-style-type:none;
    transform:translateX(100%);
    transition:.5s;
}

/* navigatie voor header na hamburgermenu */

.fullpageheader nav ul li img {
    position:fixed;
}

header.toonheader nav:nth-of-type(2) ul {
    transform:translateX(0%);
    display:flex;
    flex-direction: column;
}
    

header nav:nth-of-type(2) li:first-of-type a {
    font-family: sans-serif;
    text-align:center;
    margin:3em 1em .5em 1em;
    padding:1em;
    display:block;
    background-color:#00d472;
    color:white;
    text-decoration: none;
    border-radius:.5em;
}

header nav:nth-of-type(2) li a {
    font-family: sans-serif;
    margin: .1em 1em .5em 1em;
    padding:1em;
    display:block;
    background-color:#ededed;
    color:black;
    text-decoration: none;
    border-radius:.5em;
}

/* Eerste section */

section:first-of-type {
    position: relative;
}

@media (min-width:28em) {
    section:first-of-type h1 {
        font-size: 1em;
    }

    input:first-of-type {
         width: 21em;
    }
    
    section:first-of-type h1 {
        font-size:1.3em;
    }
    
    section:first-of-type ul:last-of-type {
        font-size:1em;   
    }
    
    section:first-of-type img {
        width:15em;
    }
}

@media (min-width:36em) {
    section:first-of-type input {
        
        width: 90%;
        text-align: center;
    }

    input:first-of-type {
         width:;
    }
    
    section:first-of-type h1 {
        text-align:center;
    }
    
     section:first-of-type ul li {
        padding:2em;
        width:50%;
        display:flex;
        justify-content: space-around;
    }
}




section:first-of-type h1 {
    position: absolute;
    top: 50%;
    width: 14em;
    font-size: 1.3em;
    text-shadow: 3px 3px 5px #000000;
}

section:first-of-type img {
    width: 100%;

}

input:first-of-type {
    width: 90%;
    height: 3em;
    position: absolute;
    top: 70%;
    left: 5%;
    border-radius: .5em;
    border: 0px;
}

section:first-of-type ul:last-of-type {
    color: white;
    display: flex;
    justify-content: flex-start;
    line-height: 1.5em;
    position: absolute;
    font-size: .6em;
    list-style-type: none;
    bottom: 1em;
    padding:0;
    margin-left:2em;
}


/* Tweede section */

section:nth-of-type(2) h1 {
    color: black;
    margin-top: .5em;
}

.content {
    list-style-type: none;
    margin: 0;
    display: grid;
}

section:nth-of-type(2) div a img {
    width: 2.5em;
    margin: 0em 0em -2.5em 1em;
    border-radius: .4em;
}

section:nth-of-type(2) p {
    font-size: .7em;
    width: 19em;
    padding: 0em;
    border-radius: .5em;
    color: dimgray;
    margin-left: 6em;
    margin-top: -0.5em;
}

section:nth-of-type(2) a:hover {
    background-color: lightgrey;
}

section:nth-of-type(2) a {
    text-decoration: none;
    width: 18em;
    background-color: #ededed;
    border-radius: 1em;
    margin: 1em 0 0 1em;
}

section:nth-of-type(3) h1 {
    color: black;
}


/* CSS footer */

footer {
    margin: 2em 0 0 0;
    border-top: 1px solid lightgrey;
}

footer img {
    width:3em;
    left:0;
    margin-bottom:-1em;
    margin-right:.5em;
}

footer li {
    font-size:.6em;
    color:grey;
    list-style-type:none;
    margin: 0 0em 1em 0;
}


footer ul {
    font-family: sans-serif;
    font-size:.9em;
    margin-left:0em;
    padding:0 0 0 1em;
}
